.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px;
}

.text {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 60px;
  padding: 30px;
}
.glitch::before,
.glitch::after {
  padding: 30px;
  color: white;
  content: "404";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}
.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@media (max-width: 768px) {
  .glitch {
    font-size: 70px;
  }
  .text {
    font-size: 30px;
  }
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(30px, 350px, 145px, 30px);
  }
  5% {
    clip: rect(5px, 350px, 6px, 30px);
  }
  10% {
    clip: rect(44px, 350px, 78px, 30px);
  }
  15% {
    clip: rect(87px, 350px, 35px, 30px);
  }
  20% {
    clip: rect(92px, 350px, 150px, 30px);
  }
  25% {
    clip: rect(27px, 350px, 103px, 30px);
  }
  30% {
    clip: rect(103px, 350px, 25px, 30px);
  }
  35% {
    clip: rect(53px, 350px, 93px, 30px);
  }
  40% {
    clip: rect(74px, 350px, 101px, 30px);
  }
  45% {
    clip: rect(20px, 350px, 105px, 30px);
  }
  50% {
    clip: rect(52px, 350px, 87px, 30px);
  }
  55% {
    clip: rect(90px, 350px, 111px, 30px);
  }
  60% {
    clip: rect(20px, 350px, 16px, 30px);
  }
  65% {
    clip: rect(7px, 350px, 94px, 30px);
  }
  70% {
    clip: rect(92px, 350px, 25px, 30px);
  }
  75% {
    clip: rect(114px, 350px, 129px, 30px);
  }
  80% {
    clip: rect(44px, 350px, 58px, 30px);
  }
  85% {
    clip: rect(40px, 350px, 71px, 30px);
  }
  90% {
    clip: rect(118px, 350px, 4px, 30px);
  }
  95% {
    clip: rect(56px, 350px, 38px, 30px);
  }
  100% {
    clip: rect(33px, 350px, 15px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(99px, 350px, 1px, 30px);
  }
  5% {
    clip: rect(64px, 350px, 13px, 30px);
  }
  10% {
    clip: rect(91px, 350px, 96px, 30px);
  }
  15% {
    clip: rect(125px, 350px, 75px, 30px);
  }
  20% {
    clip: rect(23px, 350px, 16px, 30px);
  }
  25% {
    clip: rect(12px, 350px, 41px, 30px);
  }
  30% {
    clip: rect(115px, 350px, 11px, 30px);
  }
  35% {
    clip: rect(104px, 350px, 29px, 30px);
  }
  40% {
    clip: rect(132px, 350px, 63px, 30px);
  }
  45% {
    clip: rect(94px, 350px, 46px, 30px);
  }
  50% {
    clip: rect(137px, 350px, 137px, 30px);
  }
  55% {
    clip: rect(149px, 350px, 30px, 30px);
  }
  60% {
    clip: rect(66px, 350px, 46px, 30px);
  }
  65% {
    clip: rect(6px, 350px, 89px, 30px);
  }
  70% {
    clip: rect(88px, 350px, 4px, 30px);
  }
  75% {
    clip: rect(128px, 350px, 107px, 30px);
  }
  80% {
    clip: rect(6px, 350px, 75px, 30px);
  }
  85% {
    clip: rect(103px, 350px, 114px, 30px);
  }
  90% {
    clip: rect(91px, 350px, 99px, 30px);
  }
  95% {
    clip: rect(109px, 350px, 92px, 30px);
  }
  100% {
    clip: rect(9px, 350px, 150px, 30px);
  }
}
